.BloodNavbar
{
    position: fixed;
    top:0%;
    left:0%;
}
.BloodGroup_Flex
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
    margin-top: 60px;
    border:px solid red;

}
.BloodGroup_Introduction
{
    width:600px;
    border:px solid black;
    padding:20px;
}
.video_blood
{
    margin-left: 20px;
}
.BloodGroupspic
{
    width:400px;
    height:300px;
    margin-left:20px;
}
.bloodGrops_Second_Flex,
.HistoryAboutBlood_flex,
.HistoryAboutBlood_flex_one

{
    display:flex;
    border:px solid red;
    justify-content: center;
    align-items: center;
}
.BloodGroups_points
{
    width:600px;
    border:px solid green;

}
.bloodtypes
{
    width:800px;
    height:600px;
    margin-top: 30px;
    border:px solid red;
}
.spacetable
{
    width: 200px;
    border:px solid green;
}
.display_flex_ofTable
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.BloodGpage
{
    padding:10px;
    font-family: 'Merriweather', serif;
    line-height: 1.5;
    font-size: 18px;

}
.bloodgroupbelow_Flex
{
    display: flex;
    justify-content: center;
    align-items: center;
    border:px solid black;
    margin-top: 40px;
}
.below_Imagebloogroup
{
    width:350px;
    height:300px;
    border:px solid black;

}
.belowblood_Group
{
    width:600px;
    border:px solid black;
    padding:10px;
    margin-left:40px;
 
}
custom-list
{
    list-style: none;
    padding: 0;
    
}
.custom-list li::marker
{
    color: darkred ;
 }
 
 color_list,
 custom_Line
 {
    list-style: none;
    padding: 0;
 }
 .color_list li::marker
 {
    color: #115fef  ;
 }
 .history_bulb
 {
    width:300px;
    height:300px;
    margin-left:20px;
    border:px solid black;
 }
 
 
 .custom_Line li::marker
 {
    color:dodgerblue;
 }
 .history_blood,
 .history_blood_one
 {
    border:px solid black;
    width:700px;
 }
 .name_color
 {
    color:red;
 }
 .border_of_list
 {
    box-shadow: 0 0 5px 0 dodgerblue;
    border:2px solid black;
 }
 .history_bulb_space
 {
    width:300px;
    margin-left:10px;
    border:px solid blue;
 }
 .hidden_history
 {
    align-items: center;
    margin: auto;
    justify-content: center;
    background-color: darkblue;
    color:white;
    display: flex;
    padding:7px;
    width:100px;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0 0 35px 0 coral;
 }
  .hidden_history:hover{
    background-color: rgb(177, 8, 8);
 }