
.input
{
    width:300px;
    margin:auto;
    box-shadow: 2px 2px red;
    padding: 10px;
    border-radius: 10px;
    margin-left: 90px;
    
}
span{
    line-height: 1.5;
    padding: 10px;
}
.navbar
{
    border:px solid red;
    position: fixed;
    top: 0;
    left: 0;  
}
.map
{
    width:300px;
    height:200px;
    border:2px solid black;
}

.inputmain {
    border: px solid red;
    height: 100px;
    width: 500px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: fixed;
    margin: auto;
    margin-left: 30%;
    box-shadow: 0 0 5px 0 #3498db ;
    background-color: #ddd;
   
}
.bloodbox {
    display: flex;
    border: 1px solid #ddd;
    margin: 10px;
    margin:auto;
    width:700px;
    margin-top: 15px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.time {
    flex: 1;
}

.Bloodbank {
    font-size: 18px;
   
}
.City,
.District,
.Contact,
.state {
    font-size: 17px;
    line-height: 1.5;
}
.moreInformation:hover{
    background-color: #FF7A48;
    
}
.moreInformation {
    text-decoration: none;
    color: #fff;
    border-radius:5px;
    width:200px;
    padding:10px;
    margin-left: 470px;
    background-color: #5bc0de;
    border:2px solid #5bc0de;
    border:px solid black;
}
.Hospital_Name
{
    color: red;

}
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination button {
    background-color: #5bc0de;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    margin: 0 5px;
    cursor: pointer;
}
.pagination button:hover

{
    background-color: #FF7A48;
}.colorwhite
{
    width:450px;
    height:80px;
    text-decoration: none;
    color: #fff;
}
.colorwhite:hover
{
    color:brown;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.horigental
{
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 20px;
}
.contact-left
{
    text-align: center;
    margin-top: 50px;
    border:px solid black;
}

