.drops
{
    width:65px;
    height:40px;  
    margin-left:50px;  
    /* border-radius:50%; */
 
}
.navbar
{
    height:75px;
    border:2px solid black;
    display: flex;  
    background-color: black ;
    align-items: center;
    justify-content: center;
}
.inputtype
{
    height:25px;
    width:250px;
    margin-top:20px;
    margin-left:80px;
    border-radius: 10px;
}
.whyDonate
{
    margin-top:25px;
    margin-left:280px;
}
.Aboutus
{
    margin-top:25px;
}
.DonateNow
{
    margin-top:25px;
}
.ContactUs
{
    margin-top:25px;
}
.login
{
    margin-top:25px;
}
.link
{
    text-decoration: none;
    color:red;
}

