.drops_circle
{
    width:65px;
    height:45px;  
    margin-left:30px;  
    border-radius:50%;
    /* border:2px solid black; */
    box-shadow: 0 0 6px 0 white;
 
}
.navbar
{
    height:70px;
    width:100%;
    box-shadow: 0 0 28px 0 black;
    border-bottom:5px solid black;
    display: flex;  
    background-color: #D96907 ;
    align-items: center;
    justify-content: center;
    position:fixed;
}
.inputtype
{
    height:25px;
    width:250px;
    margin-top:20px;
    margin-left:80px;
    border-radius: 10px;
}
.whyDonate
{
    margin-top:25px;
    margin-left:280px;
}
.Aboutus
{
    margin-top:25px;
}
.DonateNow
{
    margin-top:25px;
}
.ContactUs
{
    margin-top:25px;
}
.login
{
    margin-top:25px;
}
.link
{
    text-decoration:none;
    color:white;
    padding:15px;
}
.link:hover{
    text-decoration:underline 3px solid #32508E;
    /* border-bottom: 3px solid Blue; */
    
}
