.footerpage
{
    height:auto;
    margin-top:20px;
    background-color:var( --footer--color);
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.horigentalLine
{
    margin-left:65px;
    margin-right:65px;
    border-bottom:1px solid #E04D01;
    background-color: #E04D01;
}
.linkname
{
    color:white;
    text-decoration: none;
    
}
.linkname:hover{
    text-decoration:underline 3px solid  #D96907;

}

.Footerpage
{
    height:300px;
    background-color:var( --footer--color);
    /* border:2px solid #D96907; */
    border-top:12px solid #FF7700;

}

.increaseBlood
{
    color:white;
    margin-top:20px;
}
.box
{
    border:px solid red;
    width:200px;
    height:230px;
    
   
}
.Secondbox
{
    width:250px;
    height:230px;
    margin-left:100px;
    border: 0px solid red;
}

.Process
{
    color:white;
    margin-top:20px;
    margin-right:25px;
}
.thirdbox
{
    width:250px;
    height:230px;
    border: 0px solid red;
}
.Login
{
    color:white;
    margin-top:20px;
    margin-right:145px;
    font-size:20px;
}
.register_footer
{
    color:white;
    margin-top:20px;
    margin-right:50px;
}
.fourthbox
{
    width:300px;
    height:230px;
    border: 0px solid red;
}

.Email
{
    color:white;
    margin-top:20px;
    margin-left:px;
}
.display
{
    display:flex;
    margin-top:20px;
}
.whatsapp
{
    width:50px;
    height:50px;
    border:px solid black;
    border-radius:50%;
    margin-left:10px;
}

 .lastline
{
    
    border:0px solid blue;
    width:440px;
    margin:auto;
    color:#FF7700;
} 

.divSecond
{
    align-items: center;
    justify-content: center;
}