
.background_help
{
    background-image: url("/public/photos/help.png");
    background-size:100% 500px;
    width:100%;
    background-size: cover;
    height:500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.background_help::after
{
    content: "";
    position: absolute;
    background-color: rgba(8, 7, 7, 0.5);
    width:100%;
    height:100%;
    left:0;
    top:0;
}
.background_help .middle_call
{
    position: relative;
    z-index: 1;
}

.middle_call
{
    width:1250px;
    height:300px;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    z-index: 1;
    border:8px solid var(--primary-color)
}
.background_help .middle_call .startDonating
{
    align-items: center;
    justify-content: center;
    margin: auto;
    width:150px;
    font-weight: 500;
    color:white;
    padding: 40px 0px 40px 0px;
    text-transform: uppercase;
    border:px solid black;
 }
 .phone_size_store {
    width: 60px;
    height: 35px;
    background-color:var(--primary-color);
    transform: skew(-55deg);
    margin: -20px auto 0; /* Adjust margin-top to -50px (or your desired value) */
    display: flex;
    font-size:20px;
    align-items: center;
    justify-content: center;
    padding: 13px;
    box-sizing: border-box;
}
.calling
{
    border:px solid red;
    height:40px;
}
.middle_call .calling .callref
{
    text-decoration: none;
    color:white;
}
.middle_call .calling .callref:hover{
    color: var(--primary-color);
}
 .middle_call .Andra_India 
{
    border:px solid black;
    text-align: center;
    margin-top: 40px;
    color:white;
}
.Andra_India :hover{
    color:var(--primary-color);
    cursor: pointer;

}
.email_post
{
    text-decoration: none;
    color: var(--white-nav-text);
}