.center
{
    text-align: center;
    justify-content: center;
    border:px solid black;
}
.displayFlexphoto
{
    display: flex;
    margin-top:30px;
    justify-content: center;
    align-items: center;  
}
.startpic
{
    width:350px;
    height:250px;
    border:2px solid var( --primary-light-color);
    margin-left:20px;
}
.startpic:hover{
    /* border:2px solid var( --secondary-color); */
}
.image:hover
{
    /* border:2px solid var(--secondary-color); */
}
.image
{
    width:350px;
    height:250px;
    margin-left:20px;
    border:2px solid var( --primary-light-color);
}
.cursor:hover
{
    cursor: pointer;
    opacity: 0.9;
}