.contactBox
{
    border:px solid blue;
    height:650px;
    align-items: center;
    justify-content: center;
}
.contactOne
{
    border:px solid black;
    width : 400px;
    height :300px;
    background-image: url("/public/photos/imge.png");
    background-size: cover;
    margin: auto;
}

.contactTwo
{
    border:px solid black;
    width : 200px;
    height : 130px;
    background-image: url("/public/photos/show.png");
    background-size: cover;
    margin-left:3%;
    position: absolute;
    opacity: 0.9;
    top:240px;
}
.redbar
{
    height:50px;
    width:100%;
    position: relative;
    top:-122px;
    background-color: rgb(232, 19, 19);
    border:px solid blue;
    opacity: 0.9;
    font-size: 25px;
    text-align: center;
    font-family: "Italianno variant0", Tofu;
    padding-top: 25px;
}
.contactpage{
    margin: auto;
    width:400px;
    height:280px;
    border:2px solid rgb(154, 149, 149);
    position:fixed;
    z-index:-1;
    right:270px;
    background-color:white;
    /* box-shadow: 2px 2px red; */
    bottom:0px;
    opacity: 12;
}
.storepage
{
    border:px solid red;
    background-color: rgb(45, 43, 43);
    position:fixed;
    width:60%;
    margin: auto;
    height:100%;
    margin-left: 20%;
}
.insideContage
{
    border:px solid black;
    width:320px;
    height:240px;
    display:flex;
    flex-direction: column;
    margin:auto;
    margin-top: 20px;
}
.contactName
{
    padding:10px 30px;
    margin-bottom: 10px;
    margin-top:20px;
}
.EmailAddress
{
    padding:10px 30px;
}
.areamessage
{
    padding:10px 30px;
    margin-top: 10px;
    height:170px;
}
.submitbutton
{
    width:100px;
    height:80px;
    margin-top: 10px;
    margin-left: 200px;
    box-shadow: 2px 2px #0593A2;
}
.submitbutton:hover
{
    background-color: #E3371E;
}

.fontsize
{
    font-size: 16px;
    box-shadow: 2px 2px #0593A2;
}
.wishesInmiddle
{
    width:300px;
    height:80px;
    text-align:center;
    font-size: 25px;
    margin-top:80px;
    border-top-left-radius:50px;
    border-bottom-right-radius: 50px;
    color: #E3371E;
    background-color: #151F30;
    box-shadow:2px 2px 2px 2px red;
    border:px solid black;
}

.linkofDoctors
{
    width:380px;
    height:20px;
    font-size: 18px;
    border-radius:40px;
    padding: 10px;
    margin: auto;
    background-color: #103778;
    box-shadow: 0 0 6px 0 #3498db;;

}
.linkofDoctors:hover{
   
    background-color:  #E5771E ;
    cursor: pointer;
    width:380px;
    border-radius:40px;
    padding: 5px;
    color: darkred;
    box-shadow: 0 0 6px 0 #3498db;
}

.connectnone
{
    border:none;
    text-decoration: none;
    color: white;

}
